.cover {
  margin: 92px 48px 92px 48px;
  position: relative;
  
}
.cover:hover .cover__hover{
  opacity: .8;
 }



@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 92px 0;
  }
}

@media screen and (max-width:690px) {
  .cover {
    margin: 66px 0 64px 0;
  }
}

