.footer {
  display: flex;
  padding: 0 48px 24px 48px;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    padding: 0 24px 24px 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0;
    margin-right: auto;
  }
}